anyio==3.6.2
asgiref==3.4.1
bcrypt==4.0.1
click==8.0.4
colorama==0.4.5
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
ecdsa==0.19.0
fastapi==0.83.0
greenlet==2.0.2
h11==0.13.0
idna==3.7
immutables==0.19
importlib-metadata==4.8.3
passlib==1.7.4
pyasn1==0.5.1
pydantic==1.9.2
PyJWT==2.4.0
python-jose==3.3.0
python-multipart==0.0.5
rsa==4.9
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.52
starlette==0.19.1
typing_extensions==4.1.1
uvicorn==0.16.0
#zipp==3.6.0
